{% extends '::base.html.twig' %}

{% block body %}
    <section class="section content">
        <h2>Hello World!</h2>
        <p>This Symfony applications serves no other purpose than having a basis for unit, integration, and functionnal
            testing.</p>
        <p>In other words,</p>
        <p class="is-size-3">These are not the droïds you are looking for.</p>
    </section>
{% endblock %}